<section class="w-full flex align-center justify-center">
  <div class="max-w-3xl font-light">
    <div class="border-b max-w-80">
      <h2 class="text-lg font-semibold">WORK EXPERIENCE</h2>
    </div>
      <ul class="text-gray-700 mb-4">
        <li *ngFor="let cv of content.CV" class="list-none">
          <span class="w-97/100 inline-flex items-center justify-between font-bold pt-4">
            <span>{{ cv.role + ' - ' + cv.companyName }}</span>
            <span>{{ cv.period }}</span>
          </span>
          <ul>
            <li *ngFor="let a of cv.activities" class="list-disc list-inside mx-2 my-2 text-gray-600 text-sm">{{ a }}</li>
          </ul>
        </li>
      </ul>

    <div class="border-b max-w-80">
      <h2 class="text-lg font-semibold mt-8">EDUCATION</h2>
    </div>
    <ul class="text-gray-700 mb-4">
      <li *ngFor="let ed of content.education">
        <span class="w-97/100 inline-flex items-center justify-between font-bold pt-4">
          <span>{{ ed.degree }}</span>
          <span>{{ ed.period }}</span>
        </span>
        <span>{{ ed.schoolName }}</span>
        <ul>
          <li *ngFor="let comment of ed.comments" class="list-disc list-inside mx-2 my-2 text-gray-600 text-sm">{{ comment }}</li>
        </ul>
      </li>
    </ul>
  </div>
</section>