@use "tailwindcss";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #333333;
  background-color: #fafafa
}

.global-wrapper {
  @apply flex flex-col w-full h-full;
}

.content-wrapper {
  @apply flex flex-row grow overflow-hidden;
}